@import 'fonts.scss'; 
@import 'breakpoints.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    // overflow: hidden;
}

.ShopToggle{
    background: rgba($color: #c02828, $alpha: 1.0);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    position: relative;
    position: fixed;
    transform: translateX(100%);
    transition: .5s ease-in-out;
    display: grid;
    align-items: center;
    justify-content: center;
}