@import 'fonts.scss';  
@import 'breakpoints.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.TransitionToDelete{
    background: rgba($color: #000000, $alpha: 1.0);
    height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    transition: .5s;
    font-family: 'myFont',sans-serif;
    font-size: 2em;
    color: #fff;
    .SuccessBTN{
        background: rgba($color: #53eb45, $alpha: 1.0);
        height: 8vh;
        width: 12vw;
        border: 0px solid transparent;  
        display: flex;
        align-items: center;
        justify-content: center; 
        .check{
            margin-left: .5vw;
        }
    }
}

