@import 'fonts.scss';  // font-family: 'Heebo', sans-serif;
@import 'breakpoints.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.CartTransition{
    background: rgba($color: #000000, $alpha: 1.0);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    .text{
        transition: .5s;
        opacity: 0;
        font-family: 'myFont',sans-serif;
        color: #ffffff;
        font-size: 2em;
    }
}
