@import 'fonts.scss';  
@import 'breakpoints.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.ViewProduct{
    background: rgba($color: #ffffff, $alpha: 1.0);
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .innerContainer{
        background: rgba($color: #8d4949, $alpha: 0);
        height: 105vh;
        width: 73vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        .labelContainer{
            background: rgba($color: #8b2f84, $alpha: 0);
            height: 8vh;
            width: 73vw;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            .txt{
                font-family: 'myFont', sans-serif;
                font-size: 1.5em;
                font-weight: bold;
                margin-left: 1vw;
            }
            .saveFunctionContainer{
                background: rgba($color: #a3275b, $alpha: 0);
                height: 8vh;
                width: auto;
                position: absolute;
                right: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-right: 1vw;
                .cancelbtnContainer{
                    background: rgba($color: #000000, $alpha: 0);
                    height: 8vh;
                    width: auto;
                    display: grid;
                    place-items: center;
                    .cancelbtn{
                        padding: 5px 16px;
                        border: 0px solid transparent;
                        background: rgba($color: #cecece, $alpha: 1.0);
                        font-family: 'myFont', sans-serif;
                        font-size: 1em;
                        font-weight: bold;
                    }
                    .cancelbtn:hover{
                        background: rgba($color: #b9b9b9, $alpha: 1.0);
                    }
                }
                .savebtnContainer{
                    background: rgba($color: #000000, $alpha: 0);
                    height: 8vh;
                    width: auto;
                    display: grid;
                    place-items: center;
                    margin-left: .5vw;
                    .savebtn{
                        padding: 5px 16px;
                        border: 0px solid transparent;
                        background: rgba($color: #e6c73d, $alpha: 1.0);
                        font-family: 'myFont', sans-serif;
                        font-size: 1em;
                        font-weight: bold;
                    }
                    .savebtn:hover{
                        background: rgba($color: #ccb138, $alpha: 1.0);
                    }
                }
            }
        }
        .form-container-1{
            background: rgba($color: #889c17, $alpha: 0);
            height: 97vh;
            width: 50vw;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            .tableContainer-1{
                background: rgba($color: #df7373, $alpha: 0);
                height: 65vh;
                width: 50vw;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
                .TableTitleContainer{
                    background: rgba($color: #5a1ca0, $alpha: 0);
                    height: 5vh;
                    width: 50vw;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .txt{
                        font-family: 'myFont', sans-serif;
                        font-size: 1.3em;
                        margin-left: 1vw;
                        font-weight: bold;
                    }
                }
                .name-form-container{
                    background: rgba($color: #2f99ac, $alpha: 0);
                    height: 9vh;
                    width: 50vw;
                    .label-container{
                        height: 4vh;
                        width: 50vw;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        background: rgba($color: #c29bee, $alpha: 0);
                        .txt{
                            font-family: 'myFont', sans-serif;
                            font-size: 1em;
                            margin-left: 1vw;
                            font-weight: bold;
                        }
                    }
                    .input-form-container{
                        background: rgba($color: #c6d638, $alpha: 0);
                        height: 5vh;
                        width: 50vw;
                        display: grid;
                        place-items: center;
                        .input{
                            width: 48vw;
                            height: 4vh;
                            outline: none;
                            border: 0.5px solid rgb(214, 214, 214);
                            padding: 12px 16px;
                        }
                    }
                }
                .identifier-form-container{
                    background: rgba($color: #ad1b1b, $alpha: 0);
                    height: 11vh;
                    width: 50vw;
                    .label-container{
                        height: 4vh;
                        width: 50vw;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        background: rgba($color: #c29bee, $alpha: 0);
                        .txt{
                            font-family: 'myFont', sans-serif;
                            font-size: 1em;
                            margin-left: 1vw;
                            font-weight: bold;
                        }
                    }
                    .input-form-container{
                        background: rgba($color: #c6d638, $alpha: 0);
                        height: 5vh;
                        width: 50vw;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .input-example{
                            background: rgba($color: #ebebeb, $alpha: 1.0);
                            outline: none;
                            border: 0.5px solid rgb(214, 214, 214);
                            padding: 12px 16px;
                            width: 13vw;
                            height: 4vh;
                        }
                        .input{
                            width: 35vw; // 48
                            height: 4vh;
                            outline: none;
                            border: 0.5px solid rgb(214, 214, 214);
                            padding: 12px 16px;
                        }
                    }
                    .input-description-container{
                        background: rgba($color: #742929, $alpha: 0);
                        height: 2vh;
                        width: 50vw;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        .txt{
                            font-family: 'myFont', sans-serif;
                            font-size: .8em;
                            margin-left: 1vw;
                            font-weight: bold;
                            color: rgba($color: gray, $alpha: 1.0);
                        }
                    }
    
                }
                .description-form-container{
                    background: rgba($color: #1ac762, $alpha: 0);
                    height: 20vh;
                    width: 50vw;
                    .label-container{
                        height: 4vh;
                        width: 50vw;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        background: rgba($color: #c29bee, $alpha: 0);
                        .txt{
                            font-family: 'myFont', sans-serif;
                            font-size: 1em;
                            margin-left: 1vw;
                            font-weight: bold;
                        }
                    }
                    .input-form-container{
                        background: rgba($color: #c6d638, $alpha: 0);
                        height: 15vh;
                        width: 50vw;
                        display: grid;
                        align-items: flex-start;
                        justify-content: center;
                        .input{
                            width: 48vw;
                            height: 14vh;
                            outline: none;
                            border: 0.5px solid rgb(214, 214, 214);
                            padding: 12px 16px;
                            resize: none;
                        }
                    }
                }
                .specs-form-container{
                    background: rgba($color: #1ac762, $alpha: 0);
                    height: 20vh;
                    width: 50vw;
                    .label-container{
                        height: 4vh;
                        width: 50vw;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        background: rgba($color: #c29bee, $alpha: 0);
                        .txt{
                            font-family: 'myFont', sans-serif;
                            font-size: 1em;
                            margin-left: 1vw;
                            font-weight: bold;
                        }
                    }
                    .input-form-container{
                        background: rgba($color: #c6d638, $alpha: 0);
                        height: 15vh;
                        width: 50vw;
                        display: grid;
                        align-items: flex-start;
                        justify-content: center;
                        .input{
                            width: 48vw;
                            height: 14vh;
                            outline: none;
                            border: 0.5px solid rgb(214, 214, 214);
                            padding: 12px 16px;
                            resize: none;
                        }
                    }
                }
            }
            .tableContainer-2{
                background: rgba($color: #197e70, $alpha: 0);
                height: 14vh;
                width: 50vw;
                display: grid;
                box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
                .labelContainer{
                    background: rgba($color: #8b2f84, $alpha: 0);
                    height: 4vh;
                    width: 50vw;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-start;
                    .txt{
                        font-family: 'myFont', sans-serif;
                        font-size: 1.3em;
                        font-weight: bold;
                        margin-left: 1vw;
                    }
                }
                .input-form-container{
                    background: rgba($color: #3c21b6, $alpha: 0);
                    height: 10vh;
                    width: 50vw;
                    display: grid;
                    .label-container{
                        background: rgba($color: #8d2020, $alpha: 0);
                        height: 4vh;
                        width: 50vw;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        .label-inner-1{
                            height: 4vh;
                            width: 25vw;
                            display: flex;
                            align-items: flex-end;
                            justify-content: flex-start;
                            .txt{
                                font-family: 'myFont', sans-serif;
                                font-size: 1em;
                                margin-left: 1vw;
                                font-weight: bold;
                            }
                        }
                        .label-inner-2{
                            height: 4vh;
                            width: 25vw;
                            display: flex;
                            align-items: flex-end;
                            justify-content: flex-start;
                            .txt{
                                font-family: 'myFont', sans-serif;
                                font-size: 1em;
                                margin-left: 1vw;
                                font-weight: bold;
                            }
                        }
                    }
                    .input-form-container{
                        background: rgba($color: #bdb222, $alpha: 0);
                        height: 6vh;
                        width: 50vw;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        .inner-input-container-1{
                            background: rgba($color: #2a83b6, $alpha: 0);
                            height: 6vh;
                            width: 25vw;
                            display: grid;
                            place-items: center;
                            .input{
                                width: 23vw;
                                height: 4vh;
                                outline: none;
                                border: 0.5px solid rgb(214, 214, 214);
                                padding: 12px 16px;
                            }
                        }
                        .inner-input-container-2{
                            background: rgba($color: #1fad42, $alpha: 0);
                            height: 6vh;
                            width: 25vw;
                            display: grid;
                            place-items: center;
                            .input{
                                width: 23vw;
                                height: 4vh;
                                outline: none;
                                border: 0.5px solid rgb(214, 214, 214);
                                padding: 12px 16px;
                            }
                        }
                    }
                }
            }
            .tableContainer-3{
                background: rgba($color: #197e70, $alpha: 0);
                height: 14vh;
                width: 50vw;
                display: grid;
                box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
                .labelContainer{
                    background: rgba($color: #8b2f84, $alpha: 0);
                    height: 4vh;
                    width: 50vw;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-start;
                    .txt{
                        font-family: 'myFont', sans-serif;
                        font-size: 1.3em;
                        font-weight: bold;
                        margin-left: 1vw;
                    }
                }
                .input-form-container{
                    background: rgba($color: #3c21b6, $alpha: 0);
                    height: 10vh;
                    width: 50vw;
                    display: grid;
                    .label-container{
                        background: rgba($color: #8d2020, $alpha: 0);
                        height: 4vh;
                        width: 50vw;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        .label-inner-1{
                            height: 4vh;
                            width: 50vw;
                            display: flex;
                            align-items: flex-end;
                            justify-content: flex-start;
                            .txt{
                                font-family: 'myFont', sans-serif;
                                font-size: 1em;
                                margin-left: 1vw;
                                font-weight: bold;
                            }
                        }
                    }
                    .input-form-container{
                        background: rgba($color: #bdb222, $alpha: 0);
                        height: 6vh;
                        width: 50vw;
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        .inner-input-container-1{
                            background: rgba($color: #2a83b6, $alpha: 0);
                            height: 6vh;
                            width: 50vw;
                            display: grid;
                            place-items: center;
                            .input{
                                width: 48vw;
                                height: 4vh;
                                outline: none;
                                border: 0.5px solid rgb(214, 214, 214);
                                padding: 12px 16px;
                            }
                        }
                    }
                }
            }
        }
        .form-container-2{
            background: rgba($color: #3743b3, $alpha: 0);
            height: 67vh;
            width: 20vw;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            .id-form-container{
                background: rgba($color: #ffffff, $alpha: 1);
                height: 11vh;
                width: 20vw;
                display: grid;
                box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
                .label-container{
                    background: rgba($color: #c29bee, $alpha: 0);
                    height: 4vh;
                    width: 20vw;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-start;
                    .txt{
                        font-family: 'myFont', sans-serif;
                        font-size: 1.3em;
                        margin-left: 1vw;
                        font-weight: bold;
                    }
                }
                .label-container-2{
                    background: rgba($color: #000000, $alpha: 0);
                    height: 2vh;
                    width: 20vw;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .txt{
                        font-family: 'myFont', sans-serif;
                        font-size: .8em;
                        margin-left: 1vw;
                        font-weight: bold;
                        color: rgba($color: gray, $alpha: 1.0);
                    }
                }
                .input-form-container{
                    background: rgba($color: #c6d638, $alpha: 0);
                    height: 5vh;
                    width: 20vw;
                    display: grid;
                    justify-content: center;
                    align-items: flex-start;
                    .input{
                        width: 18vw;
                        height: 4vh;
                        outline: none;
                        border: 0.5px solid rgb(214, 214, 214);
                        padding: 12px 16px;
                    }
                }
            }
            .category-form-container{
                background: rgba($color: #ffffff, $alpha: 1);
                height: 13vh;
                width: 20vw;
                display: grid;
                box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
                .label-container{
                    background: rgba($color: #c29bee, $alpha: 0);
                    height: 4vh;
                    width: 20vw;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-start;
                    .txt{
                        font-family: 'myFont', sans-serif;
                        font-size: 1.3em;
                        margin-left: 1vw;
                        font-weight: bold;
                    }
                }
                .input-form-container{
                    background: rgba($color: #c6d638, $alpha: 0);
                    height: 6vh;
                    width: 20vw;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    outline: none;
                    .form-select{
                        padding: 12px 16px;
                        font-family: 'myFont', sans-serif;
                        width: 18vw;
                        outline: none;
                    }
                }
                .input-description-container{
                    background: rgba($color: #742929, $alpha: 0);
                    height: 3vh;
                    width: 20vw;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    .txt{
                        font-family: 'myFont', sans-serif;
                        font-size: .8em;
                        margin-left: 1vw;
                        font-weight: bold;
                        color: rgba($color: gray, $alpha: 1.0);
                    }
                }
            }
            .img-form-container{
                background: rgba($color: #ffffff, $alpha: 1.0);
                height: 39vh;
                width: 20vw;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
                .label-container{
                    background: rgba($color: #c29bee, $alpha: 0);
                    height: 4.5vh;
                    width: 20vw;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    .txt{
                        font-family: 'myFont', sans-serif;
                        font-size: 1.3em;
                        margin-left: 1vw;
                        font-weight: bold;
                    }
                }
                .imgContainer{
                    background-position: center center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 30vh;
                    width: 18vw;
                    border: 0.5px solid rgb(214, 214, 214);
                }
                .replaceImgContainer{
                    background: rgba($color: #9e4545, $alpha: 0);
                    height: 4.5vh;
                    width: 18vw;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
            }
        }
    }
}

